<br/>
<div class='container'>
<div class="card">
  <div class="card-header text-white bg-secondary">
    Déclarer un problème
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="card-text">
        <form class="form-horizontal"
          novalidate
          (ngSubmit)="save()"
          [formGroup]="problemeForm">
            <div class="form-group row">
              <label for="prenomId" class="col-md-2 col-form-label text-right">Prenom:</label>
              <div class="col-sm-10">
                <input class="form-control"
                  id="prenomId"
                  type="text"
                  placeholder="Votre prénom ici (obligatoire)"
                  formControlName="prenom"
                  [ngClass]="{'is-valid': (problemeForm.get('prenom').touched ||
                  problemeForm.get('prenom').dirty) &&
                  (problemeForm.get('prenom').valid),
                  'is-invalid': (problemeForm.get('prenom').touched ||
                  problemeForm.get('prenom').dirty) &&
                  (!problemeForm.get('prenom').valid )}"
                  />
            <span *ngIf="(problemeForm.get('prenom').touched || 
                          problemeForm.get('prenom').dirty) && 
                          problemeForm.get('prenom').errors"> 
              <span *ngIf="problemeForm.get('prenom').errors.minlength">
                <small class="text-muted">
                  Indiquer au moins 3 caractères.
                </small>
              </span>
            </span>
              </div> 
            </div>
          </form>
    </div>
  </div>
  <div class="card-footer">  
    <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Sauvegarder</a>
  </div>
</div>
</div>